<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>table-meal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9F1DCF21D994D2C009E7B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9F1DD061D994D2D009E7B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9F1DD111D994D2D009E7B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
